.modal.policies{
  width: 50% !important;
}
.modal {
    width: 40% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background: white;
    border-radius: 0.5em;
    box-shadow: 24;
    padding: 1em;
  }
  
  .modal-xs {
    width: 90% !important;
    
  }
  .modal .logo {
    display: flex;
    justify-content: center;
  }
  .modal .title {
    font-size: 1.2em;
    font-weight: 900;
    margin: 1em 0em;
  }
  .btnSave{
    text-align: center;
  }
 .pointer{
    cursor: pointer;
 }
 .loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 10%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
}
table thead th .MuiButtonBase-root {
  font-weight: bold;
}
table tbody td div{
  text-align: center;
}
table thead th span {
  display: flex;
  justify-content: center;
}
.actionIcons svg{
  margin-right: 1em;
}